dist
.cimtemp/
.libs/
include/readline/shlib/*.so
include/readline/*.o
include/readline/Makefile
include/readline/config.h
include/readline/config.log
include/readline/config.status
include/readline/doc/Makefile
include/readline/examples/Makefile
include/readline/libhistory.a
include/readline/libreadline.a
include/readline/stamp-h
include/readline/readline.pc
include/readline/shlib/Makefile
include/readline/shlib/libhistory.so.7.0
include/readline/shlib/libreadline.so.7.0
include/ncurses/Ada95/gen/adacurses-config
include/ncurses/Makefile
include/ncurses/c++/Makefile
include/ncurses/c++/demo
include/ncurses/c++/etip.h
include/ncurses/config.log
include/ncurses/config.status
include/ncurses/edit_man.sed
include/ncurses/edit_man.sh
include/ncurses/form/Makefile
include/ncurses/headers.sh
include/ncurses/include/MKterm.h.awk
include/ncurses/include/Makefile
include/ncurses/include/curses.h
include/ncurses/include/curses.head
include/ncurses/include/eti.h
include/ncurses/include/form.h
include/ncurses/include/hashsize.h
include/ncurses/include/menu.h
include/ncurses/include/mf_common.h
include/ncurses/include/ncurses_cfg.h
include/ncurses/include/ncurses_def.h
include/ncurses/include/panel.h
include/ncurses/include/parametrized.h
include/ncurses/include/term.h
include/ncurses/include/termcap.h
include/ncurses/include/unctrl.h
include/ncurses/lib/
include/ncurses/man/Makefile
include/ncurses/man/terminfo.5
include/ncurses/menu/Makefile
include/ncurses/misc/Makefile
include/ncurses/misc/ncurses-config
include/ncurses/misc/run_tic.sed
include/ncurses/misc/run_tic.sh
include/ncurses/misc/terminfo.tmp
include/ncurses/ncurses/Makefile
include/ncurses/ncurses/codes.c
include/ncurses/ncurses/comp_captab.c
include/ncurses/ncurses/expanded.c
include/ncurses/ncurses/fallback.c
include/ncurses/ncurses/init_keytry.h
include/ncurses/ncurses/keys.list
include/ncurses/ncurses/lib_gen.c
include/ncurses/ncurses/lib_keyname.c
include/ncurses/ncurses/link_test.c
include/ncurses/ncurses/make_hash
include/ncurses/ncurses/make_keys
include/ncurses/ncurses/names.c
include/ncurses/ncurses/unctrl.c
include/ncurses/obj_g/
include/ncurses/obj_s/
include/ncurses/objects/
include/ncurses/panel/Makefile
include/ncurses/progs/Makefile
include/ncurses/progs/clear
include/ncurses/progs/infocmp
include/ncurses/progs/termsort.c
include/ncurses/progs/tic
include/ncurses/progs/toe
include/ncurses/progs/tput
include/ncurses/progs/transform.h
include/ncurses/progs/tset
include/ncurses/test/Makefile
include/ncurses/test/background
include/ncurses/test/blue
include/ncurses/test/bs
include/ncurses/test/cardfile
include/ncurses/test/chgat
include/ncurses/test/color_set
include/ncurses/test/demo_altkeys
include/ncurses/test/demo_defkey
include/ncurses/test/demo_forms
include/ncurses/test/demo_keyok
include/ncurses/test/demo_menus
include/ncurses/test/demo_panels
include/ncurses/test/demo_termcap
include/ncurses/test/ditto
include/ncurses/test/dots
include/ncurses/test/dots_mvcur
include/ncurses/test/echochar
include/ncurses/test/filter
include/ncurses/test/firework
include/ncurses/test/firstlast
include/ncurses/test/foldkeys
include/ncurses/test/gdc
include/ncurses/test/hanoi
include/ncurses/test/hashtest
include/ncurses/test/inch_wide
include/ncurses/test/inchs
include/ncurses/test/ins_wide
include/ncurses/test/inserts
include/ncurses/test/key_names
include/ncurses/test/keynames
include/ncurses/test/knight
include/ncurses/test/lrtest
include/ncurses/test/movewindow
include/ncurses/test/ncurses
include/ncurses/test/newdemo
include/ncurses/test/railroad
include/ncurses/test/rain
include/ncurses/test/redraw
include/ncurses/test/savescreen
include/ncurses/test/tclock
include/ncurses/test/test_arrays
include/ncurses/test/test_get_wstr
include/ncurses/test/test_getstr
include/ncurses/test/test_instr
include/ncurses/test/test_inwstr
include/ncurses/test/test_opaque
include/ncurses/test/testaddch
include/ncurses/test/testcurs
include/ncurses/test/testscanw
include/ncurses/test/view
include/ncurses/test/worm
include/ncurses/test/xmas
include/readline/shlib/libreadline.so.7
