dist
.cimtemp/
.libs/
include/readline/shlib/*.so
include/readline/*.o
include/readline/Makefile
include/readline/config.h
include/readline/config.log
include/readline/config.status
include/readline/doc/Makefile
include/readline/examples/Makefile
include/readline/libhistory.a
include/readline/libreadline.a
include/readline/stamp-h
include/readline/readline.pc
include/readline/shlib/Makefile
include/readline/shlib/libhistory.so.7.0
include/readline/shlib/libreadline.so.7.0
